<section ng-controller="FavouritesController as vm">
    <div ui-content-for="title">
        {{vm.title}} <span class="badge"> {{vm.Items.length}}</span>
    </div>

    <div class="scrollable">

        <div class="scrollable-content">
            <ul class="list-group">
                <li ng-repeat="item in vm.Items" ng-click="vm.goToFav(item.Id)" class="list-group-item">
                    <i class="fa fa-star pull-left text-primary feature-icon-menu"></i>
                    <h5 class="media-heading">
                        {{item.Name}} <i class="fa fa-chevron-right pull-right"></i>
                    </h5>
                    <h5 class="media-heading">
                        {{item.Full_Name}}
                    </h5>
                </li>
            </ul>
        </div>
    </div>
</section>