<div class="scrollable">
    <h1 class="scrollable-header app-name">Menu</h1>
    <div class="scrollable-content">
        <div class="list-group" ui-turn-off='uiSidebarLeft'>
            <a class="list-group-item" href="#/">Home <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/alexRepos">Reposit&#243;rios do ALexandre<i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/repos">Reposit&#243;rios<i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/favourites">Favoritos <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/about">Sobre <i class="fa fa-chevron-right pull-right"></i></a>
        </div>
    </div>
</div>
